<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Dispatch Detail Register</title>
    {% load static %}
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css"
    />
    <script
      type="text/javascript"
      charset="utf8"
      src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"
    ></script>
 <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
     <style type="text/css">
      .hoverTable {
        width: 100%;
        border-collapse: collapse;
      }

      /* Define the hover highlight color for the table row */
      .hoverTable tr:hover {
        background-color: #ffff99;
      }
      .hoverTable td:hover {
        background-color: aqua;
      }
    </style>

    <script>
      function loadall() {
        document.getElementById("CboRegisterType").selectedIndex =
          "{{LSRegisterType}}";
        //  console.log( {{LDStartDate}});
        document.getElementById("startdate").value = "{{LDStartDate}}";
        document.getElementById("enddate").value = "{{LDEndDate}}";

        checkvalue = "{{LSRegisterType}}";


        if (checkvalue == "0") {
          $('#itemwise').prop('checked',true);
        } else  if (checkvalue == "1") {
         $('#agentwise').prop('checked',true);
        } else if (checkvalue == "2"){
          $('#dopeshadewise').prop('checked',true);
        }
       else {
          $('#itemwise').prop('checked',true);
        }
      }

      function date(event) {
        var startDate = document.getElementById("startdate").value;
        var endDate = document.getElementById("enddate").value;
        if (!Date.parse(startDate) || !Date.parse(endDate)) {
          alert("Please Enter Date");
          event.preventDefault();
        }
        if (Date.parse(startDate) >= Date.parse(endDate)) {
          alert("To date should be greater than From date");
          event.preventDefault();
        }
        return true;
      }

      $(document).ready(function () {
        // Set div display to none
        $("#itemwise").click(function () {
        console.log( '{{LDStartDate}}');

          $("#itemwise").css("display", "block");ss
          $("#agentwise").css("display", "none");
          $("#dopeshadewise").css("display", "none");
          $("#form1").attr("action", "DispatchDetail");



          document.getElementById("startdate").value = '{{LDStartDate}}';
          document.getElementById("enddate").value = '{{LDEndDate}}';
        });

        $("#agentwise").click(function () {
          $("#itemwise").css("display", "none");
          $("#agentewise").css("display", "none");
          $("#dopeshadewise").css("display", "block");
          $("#form1").attr("action", "DispatchDetail");

          var x = document.getElementById("agentwise");
          x.checked = "checked";

          document.getElementById("CboRegisterType").selectedIndex =
            "{{LSRegisterType}}";
          document.getElementById("startdate").value = "{{LDStartDate}}";
          document.getElementById("enddate").value = "{{LDEndDate}}";
        });

        $("#dopeshadewise").click(function () {
          $("#itemswise").css("display", "none");
          $("#agentwise").css("display", "none");
          $("#dopeshadewise").css("display", "block");
          $("#form1").attr("action", "DispatchDetail");
          document.getElementById("dopeshadewise").checked = checked;
          document.getElementById("startdate").value = "{{LDStartDate}}";
          document.getElementById("enddate").value = "{{LDEndDate}}";
        });
      });
    </script>



  </head>

  <body onload="loadall()">

    <div class="vspacer20"></div>
    <div class="container"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-16">
          <div class="panel panel-primary col-sm-16">
            <div class="panel-heading">Dispatch Detail Register Selection</div>
            <form
              action="DispatchDetail"
              id="DispatchDetailsReportForm"
              name="form1"
              class="mar"
              onsubmit=" date(event);"
            >
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-4">
                    <div>
                      <label>Register Type</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <label>From Date</label>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div>
                      <label>To Date</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-4">
                      <div class="form-group">
                        <fieldset id="CboRegisterType">
                          <input
                            type="radio"                             id="itemwise"                            name="CboRegisterType"
                            value="0"                            class="mar"                            onchange="this.form.submit()"  />
                          <label for="proccess">Item Wise   </label>
                          <input
                            type="radio"
                            id="agentwise"
                            name="CboRegisterType"
                            value="1"
                            class="mar"
                            onchange="this.form.submit()"
                          />
                          <label for="itm">Agent Wise   </label>
                          <input
                            type="radio"
                            id="dopeshadewise"
                            name="CboRegisterType"
                            value="2"
                            class="mar"
                            onchange="this.form.submit()"
                          />
                          <label for="mach">DOPE Shade Wise   </label>
                        </fieldset>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <div class="input-group date" id="datetimeFrom">
                        <input type="date" id="startdate" name="startdate" />
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <div class="input-group date" id="datetimeTo">
                        <input type="date" id="enddate" name="enddate" />
                      </div>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4"></div>
                  <div class="col-xs-4">
                    <div class="text-right">
                      <label>Find : </label>
                      <button class="btn btn-primary" id="list">List</button>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-8">
                <div class="container">
                  <h2>{{ reportname }} list</h2>

                  <table class="table hoverTable col-xs-8" id="maintable">
                    <thead>
                      <tr>
                        <th class="col-xs-10">{{header}}</th>
                        <th class="col-xs-4" align="right">
                          Despatch Quantity
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      {%for i in GList%}

                      <tr class="challanno" hover {background-color: yellow;}>

                        <td style="display:none" class="col-xs-2">
                          {{i.UNIQUEID}}
                        </td>
                        <td class="col-xs-4">{{i.LONGDESCRIPTION}}</td>
                        <td class="col-xs-3" align="right">{{i.QUANTITY}}</td>
                      </tr>

                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div>
            <label for="Exceptions"
              ><b
                >{% if Exceptions %}
                <script>
                  alert(
                    "Note : No Record found according to your selected criteria"
                  );
                </script>
                {% endif %}
              </b></label
            >
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
          $(document).ready(function () {
      $(function () {
        $("#datetimeFrom").datetimepicker();
        $("#datetimeTo").datetimepicker();
      });

      $(".challanno").click(function () {
        var rows = document.getElementById("maintable").rows;

        var startDate = document.getElementById("startdate").value;
        var endDate = document.getElementById("enddate").value;

        var registertype =document.getElementById("CboRegisterType").selectedIndex;

        var $this = $(this);
        var cellIndex = $this.index();

                    for(var i = 0, ceiling = rows.length; i < ceiling; i++) {
                        rows[i].onclick = function() {
                            uuid=this.cells[0].innerHTML
                        }
                    }





        let Dept = $this
          .closest("tr")
          .children()
          .eq(cellIndex + 3)
          .html();
        let Item = $this
          .closest("tr")
          .children()
          .eq(cellIndex + 1)
          .html();

        window.open(
          "DispatchDetailList?Item=" +
            Item +
            "&startdate=" +
            startDate +
            "&enddate=" +
            endDate +
            "&uniqueid=" +
            uuid.trim() +
            "&regeistertype=" +
            registertype,
          "_self"
        );

        $this.css("background-color", "#00ffff");
      });
        });

      $(document).ready(function () {
        $("list").click(function () {
          alert("clickkk");
        });
      });

      $(document).ready(function () {
        $("#maintable").DataTable();
      });
    </script>

  </body>
</html>
