<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Finished Stock In Hand</title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
.one{position: absolute;
    margin-top: 10px;
    margin-left:50px ;
}

.one2{position: absolute;
    margin-top: 10px;
    margin-left:650px ;
}

.two{position: absolute;
    margin-top: 60px;
    margin-left:50px ;
}
        .three{ position: absolute;
    margin-top: 60px;
    margin-left:378px ;
}

.four{position: absolute;
    margin-top: 60px;
    margin-left:708px ;
}
        .five{position: absolute;
    margin-top: 60px;
    margin-left:1037px ;
}
  .six{position: absolute;
    margin-top: 300px;
    margin-left:50px ;
}
 .seven{position: absolute;
    margin-top: 300px;
    margin-left:380px ;
}
.eight{position: absolute;
    margin-top: 300px;
    margin-left:710px ;
}
.nine{position: absolute;
    margin-top: 300px;
    margin-left:1040px ;
}

.ten{position: absolute;
    margin-top: 500px;
    margin-left:1120px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection{
    height: 100px;
    overflow: scroll ;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 14p;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

   function date(event){
    var startDate = document.getElementById("startdate").value;
    var endDate = document.getElementById("enddate").value;
    var dates   = document.getElementById("date").style.display;
    if (dates!='none'){
        if (!Date.parse(startDate)&&!Date.parse(endDate)){
        alert("Please Enter Start Date and End Date");
            event.preventDefault();
        }
        else{
            if (!Date.parse(startDate)){
            alert("Please Enter Start Date");
                event.preventDefault();
            }
            if (!Date.parse(endDate)){
            alert("Please Enter End Date");
                event.preventDefault();
            }
            if ((Date.parse(startDate) > Date.parse(endDate))) {
            alert("End date should be greater Or Equal To Start date");
            event.preventDefault();
        }
         return true;
        }
    }

}
	function company(allcomp)
	{
		var Comp=document.getElementById("comp");
		Comp.disabled=!!allcomp.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

	function Lot(alllot)
	{
		var comp=document.getElementById("lot");
		comp.disabled=!!alllot.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function winding(allwndtyp)
	{
		var comp=document.getElementById("wndtyp");
		comp.disabled=!!allwndtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function quality(allqwlty)
	{
		var comp=document.getElementById("qwlty");
		comp.disabled=!!allqwlty.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function item(allitm)
	{
		var comp=document.getElementById("itm");
		comp.disabled=!!allitm.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function itemtype(allitmtyp)
	{
		var comp=document.getElementById("itmtyp");
		comp.disabled=!!allitmtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function itemgroup(allitmgrp)
	{
		var comp=document.getElementById("itmgrp");
		comp.disabled=!!allitmgrp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}



	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#comp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#lot").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#wndtyp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#qwlty").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itm").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itmtyp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itmgrp").select2({
		data:itemlist
	});
	});

	$(document).ready( function() {
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

   $('#asondate').val(today);
   $('#asondate').attr('max', today);
   $('#enddate').val(today);
   $('#startdate').val(today);
   $('#enddate').attr('max', today);
   $('#startdate').attr('max', today);
});

	$(document).ready(function () {
	var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    $("#type").change(function () {
        var val = $(this).val();
        if (val == "summitmwise" || val == "summitmshadewise" || val == "summitmltshadewise")   {
                  $("#itmgrp").attr("disabled", true);
                  $("#allitmgrp").attr("disabled", true);
                  if (val == "summitmshadewise" || val == "summitmltshadewise")   {
                           $("#asdate").hide();
                           $("#date").show();
                           $('#asondate').val(today);
                  }else{
                            $("#asdate").show();
                            $("#date").hide();
                            $('#enddate').val(today);
                            $('#startdate').val(today);
                  }
        } else {
                  $("#itmgrp").attr("disabled", false);
                  $("#allitmgrp").attr("disabled", false);
                  $("#asdate").show();
                  $("#date").hide();
                  $('#enddate').val(today);
                  $('#startdate').val(today);
        }
    });
});

</script>
    <h1 style="font-family:arial;margin-left: 50px">Finished Stock In Hand</h1>
</head>
<body  style="background-color:Lavender;">


<form action='FinishedStockInHand' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">


<!--Date-->
<div class="one" id="asdate">
    <label for='asondate'><b> As On Date&ensp;:</b></label>
    <input type='date' id='asondate' name='asondate'>
</div>

<!--    Date-->
<div class="one" id="date" style="display:none;">
    <label for='startdate'><b>Start Date:</b></label>
    <input type='date' id='startdate' name='startdate'>

    <label for='enddate'><b>&emsp; &emsp; End Date:</b></label>
    <input type='date' id='enddate' name='enddate'>
</div>

<!--    Type-->
<div class="one2">
    <label for="type" ><b>Report Type : </b></label>
    <select name="type" id="type">
        <option  value="itmltwise">Item Lot Wise</option>
        <option  value="summitmwise">Summary Item Wise</option>
        <option  value="summitmshadewise">Summary Item Shade Wise</option>
        <option  value="summitmshadeltwise">Summary Item Shade Lot Wise</option>
        <option  value="summitmltshadewise">Summary Item Lot Shade Wise</option>
        <option  value="itmclbal">Itemwise(Lotwise) Cl.Bal</option>
        <option value="ltbox">LotWise Boxes in Hand</option>
        <option value="dtbox">DeptWise Boxes in Hand</option>
        <option value="sdbox">ShadeWise Boxes in Hand</option>
    </select>
</div>

<!--    Department-->
<div class="two">
 <label for='comp' ><b>&emsp13;Department:</b></label><br>
 <label for="allcomp">&emsp13; All Departments</label>
 <input type="checkbox" id="allcomp" name="allcomp" value=1 onclick="company(this)"/> <br>
 <select  name='comp' id='comp' style="width:325px;" multiple>
  {%for i in GDataDepartment%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Quality-->
<div class="three">
 <label for='qwlty' ><b>&emsp13;Quality :</b></label><br>
 <label for="allqwlty">&emsp13; All Qualities</label>
 <input type="checkbox" id="allqwlty" name="allqwlty" value=1 onclick="quality(this)"/> <br>
 <select  name='qwlty' id='qwlty' style="width:325px;" multiple>
   {%for i in GDataQuality%}
          <option value="{{ i.LONGDESCRIPTION }}-{{ i.ITEMTYPECODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}-{{ i.ITEMTYPECODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Winding Type-->
<div class="four">
 <label for='wndtyp' ><b>&emsp13;Winding Type :</b></label><br>
 <label for="allwndtyp">&emsp13; All Winding Types</label>
 <input type="checkbox" id="allwndtyp" name="allwndtyp" value=1 onclick="winding(this)"/> <br>
 <select  name='wndtyp' id='wndtyp' style="width:325px;" multiple>
   {%for i in GDataWinding%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    LotNo-->
<div class="five">
 <label for='lot' ><b>&emsp13;Lot No. :</b></label><br>
 <label for="alllot">&emsp13; All Lot Nos.</label>
 <input type="checkbox" id="alllot" name="alllot" value=1 onclick="Lot(this)"/> <br>
 <select  name='lot' id='lot' style="width:320px;" multiple>
   {%for i in GDataLot%}
          <option value="{{ i.CODE }} ">{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Item -->
<div class="six" >
 <label for='itm' ><b>&emsp13;Item :</b></label><br>
 <label for="allitm">&emsp13; All Items</label>
 <input type="checkbox" id="allitm" name="allitm" value=1 onclick="item(this)"/> <br>
 <select  name='itm' id='itm' style="width:325px;" multiple>
   {%for i in GDataItem%}
          <option value="{{ i.ABSUNIQUEID }} ">{{ i.LONGDESCRIPTION }}-{{ i.ABSUNIQUEID }}</option>
  {% endfor %}
 </select>
</div>

<!--    Item Type-->
<div class="seven" >
 <label for='itmtyp' ><b>&emsp13;Item Type :</b></label><br>
 <label for="allitmtyp">&emsp13; All Item Types</label>
 <input type="checkbox" id="allitmtyp" name="allitmtyp" value=1 onclick="itemtype(this)"/> <br>
 <select  name='itmtyp' id='itmtyp' style="width:325px;" multiple>
   {%for i in GDataItemType%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Item Group-->
<div class="eight" style="display:none">
 <label for='itmgrp' ><b>&emsp13;Item Group :</b></label><br>
 <label for="allitmgrp">&emsp13; All Item Groups</label>
 <input type="checkbox" id="allitmgrp" name="allitmgrp" value=1 onclick="itemgroup(this)"/> <br>
 <select  name='itmgrp' id='itmgrp' style="width:325px;" multiple>
   {%for i in GDataItemTypeGroup%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>


<div class="ten">

<br><br>
    <label for='format' ><b>Export To:</b></label>
<button type='submit' form='form1' value='PDF' class="mar" > PDF</button>
</div>

</form>
<div class="eight">
<label for='exception'><b>{%if Exception %}
<script>alert("No Report Form From Given Criteria");</script>
{% endif %}
</b></label>
</div>

</body>

</html>
<!--alert("Please Select Valid Credentials");-->