<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Generate Gain/Loss Report</title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
.one{position: absolute;
    margin-top: 10px;
    margin-left:50px ;
}

.one1{position: absolute;
    margin-top: 10px;
    margin-left:250px ;
}

.one2{position: absolute;
    margin-top: 10px;
    margin-left:700px ;
}

.two{position: absolute;
    margin-top: 100px;
    margin-left:50px ;
}
        .three{ position: absolute;
    margin-top: 60px;
    margin-left:378px ;
}

.four{position: absolute;
    margin-top: 60px;
    margin-left:708px ;
}
        .five{position: absolute;
    margin-top: 60px;
    margin-left:1037px ;
}
  .six{position: absolute;
    margin-top: 300px;
    margin-left:50px ;
}
 .seven{position: absolute;
    margin-top: 300px;
    margin-left:380px ;
}
.eight{position: absolute;
    margin-top: 300px;
    margin-left:710px ;
}
.nine{position: absolute;
    margin-top: 300px;
    margin-left:1040px ;
}

.ten{position: absolute;
    margin-top: 450px;
    margin-left:1120px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection{
    height: 200px;
    overflow: scroll ;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

   function date(event){
    var startDate = document.getElementById("startdate").value;
    var endDate = document.getElementById("enddate").value;
    var Year = Number(document.getElementById("year").value);
    //alert(Number(Year) + "-04-01")
    if (!Date.parse(startDate)){
    alert("Please Enter Start Date");
        event.preventDefault();
    }

    if (!Date.parse(endDate)){
    alert("Please Enter End Date");
        event.preventDefault();
    }

    if ((Date.parse(startDate) > Date.parse(endDate))) {
        alert("End date should be greater than Start date");
        event.preventDefault();
    }

    if ((Date.parse(startDate) < Date.parse(Year-1 + "-04-01"))) {
        alert("Start Date Should Be Between " + String(Year-1) + "-04-01 " + "and " + Year + "-03-31");
        event.preventDefault();
    }

    if ((Date.parse(endDate) > Date.parse(Year + "-03-31"))) {
        alert("End Date Should Be Between " + String(Year-1) + "-04-01 " + "and " + Year + "-03-31");
        event.preventDefault();
    }

     return true;
}
	function company(allcomp)
	{
		var Comp=document.getElementById("comp");
		Comp.disabled=!!allcomp.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

	function Lot(alllot)
	{
		var comp=document.getElementById("lot");
		comp.disabled=!!alllot.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function winding(allwndtyp)
	{
		var comp=document.getElementById("wndtyp");
		comp.disabled=!!allwndtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function quality(allqwlty)
	{
		var comp=document.getElementById("qwlty");
		comp.disabled=!!allqwlty.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function item(allitm)
	{
		var comp=document.getElementById("itm");
		comp.disabled=!!allitm.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function itemtype(allitmtyp)
	{
		var comp=document.getElementById("itmtyp");
		comp.disabled=!!allitmtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function itemgroup(allitmgrp)
	{
		var comp=document.getElementById("itmgrp");
		comp.disabled=!!allitmgrp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}



	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#comp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#lot").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#wndtyp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#qwlty").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	$("#itm").select2();
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itmtyp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itmgrp").select2({
		data:itemlist
	});
	});

	const a1 = new Date({{YEAR}}-1+"-04-01");
    const d2 = new Date({{YEAR}}+"-03-31");
    $(document).ready(function()
	{
    document.getElementById("startdate").value = a1.toISOString().split('T')[0];
    document.getElementById("enddate").value = d2.toISOString().split('T')[0];
    $('#enddate').attr('max', d2.toISOString().split('T')[0]);
    $('#startdate').attr('min', a1.toISOString().split('T')[0]);
    $('#enddate').attr('min', a1.toISOString().split('T')[0]);
    $('#startdate').attr('max', d2.toISOString().split('T')[0]);

	});


</script>



</head>
<body  style="background-color:Lavender;">
<h2 style="font-family:arial;margin-left: 50px">Generate Gain/Loss Report</h2>


<form action='GainLoss' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">

<div class="one">
    <label for='year'><b>Financial Year:</b></label>
<select name='year' id='year' onchange="updateDate();">
    {% for i in GDataYear%}
<option value={{i.CODE}}>{{i.CODE}}</option>
{%endfor%}
</select>
    </div>

<!--    Date-->
<div class="one1" id="date">
    <label for='startdate'><b>Start Date:</b></label>
    <input type='date' id='startdate' name='startdate'>

    <label for='enddate'><b>&emsp; &emsp; End Date:</b></label>
    <input type='date' id='enddate' name='enddate'>
</div>

<!--    Type-->
<div class="one2">
    <label for="type" ><b>Report Type : </b></label>
    <select name="type" id="type">
        <option  value="itmwise">ItemWise Summary</option>
        <option  value="baselotwise">BaseLotWise Summary</option>
        <option  value="lotwise">LotWise Summary</option>
    </select>
</div>

<!--    Department-->
<div class="two">
 <label for='comp' ><b>&emsp13;Department:</b></label><br>
 <label for="allcomp">&emsp13; All Departments</label>
 <input type="checkbox" id="allcomp" name="allcomp" value=1 onclick="company(this)"/> <br>
 <select  name='comp' id='comp' style="width:550px" multiple>
  {%for i in GDataDepartment%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>



<div class="ten">

<br><br>
    <label for='format' ><b>Export To:</b></label>
<button id="format" type='submit' form='form1' value='PDF' class="mar" > PDF</button>
</div>

</form>
<div class="eight">
<label for='exception'><b>{%if Exception %}
<script id="exception">alert("No Report Found On Given Criteria");</script>
{% endif %}
</b></label>
</div>


<script>
    function updateDate() {
    var selectBox = document.getElementById("year");
    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
    //alert(selectedValue)

    //if(selectedValue == 2022){
    let d3 = new Date(selectedValue-1+"-04-01");
    document.getElementById("startdate").value = d3.toISOString().split('T')[0];
    let d4 = new Date(selectedValue+"-03-31");
    document.getElementById("enddate").value = d4.toISOString().split('T')[0];
    $('#enddate').attr('max', d4.toISOString().split('T')[0]);
    $('#startdate').attr('min', d3.toISOString().split('T')[0]);
    $('#enddate').attr('min', d3.toISOString().split('T')[0]);
    $('#startdate').attr('max', d4.toISOString().split('T')[0]);

    //}

   }

</script>

</body>

</html>
<!--alert("Please Select Valid Credentials");-->