<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Out Standing Debit Credit Notes</title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<style>
.one{position: absolute;
    margin-top: 10px;
    margin-left:50px ;
}

.one2{position: absolute;
    margin-top: 10px;
    margin-left:280px ;
}

.two{position: absolute;
    margin-top:80px;
    margin-left:50px ;
}
.three{ position: absolute;
    margin-top: 80px;
    margin-left:380px ;
}

.four{position: absolute;
    margin-top: 80px;
    margin-left:660px ;
}


.ten{position: absolute;
    margin-top: 400px;
    margin-left:920px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection {
    height: 150px;
    overflow: scroll;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 13p;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

function date(event)
{
    var asondate = document.getElementById("asondate").value;
   
        if (!Date.parse(asondate))
        {
            alert("Please Enter As On Date");
            event.preventDefault();
        }        
     return true;
}


function COMPANY(allcompany)
	{
		var Comp=document.getElementById("company");
		Comp.disabled=!!allcompany.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

function Broker(allBroker)
	{
		var Comp=document.getElementById("Broker");
		Comp.disabled=!!allBroker.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}
function PARTY(allParty)
	{
		var Comp=document.getElementById("Party");
		Comp.disabled=!!allParty.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}
   
    $(document).ready(function()
	{
        var itemlist=[]
        $("#company").select2({data:itemlist});
        $("#Party").select2({data:itemlist});
        $("#Broker").select2({data:itemlist});
	});

    $(document).ready( function() {
    var now = new Date();
    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;

   $('#asondate').val(today);
   $('#asondate').attr('max', today);

});

</script>
    <h1 style="font-family:arial;margin-left: 50px;">Out Standing Debit Credit Notes</h1>
</head>
<body  style="background-color:Lavender;">


<form action='OSDebitCreditNotes' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">

<!--Date-->
<div class="one">
    <label for='asondate'><b>&emsp;As On Date:</b></label>
    <input type='date' id='asondate' name='asondate'>
    </div>

<!--    Report Type-->
<div class="one2">
    <label for="Type"><b>Type:</b></label>
    <select name="type" id="type">
        <option value="Debit"> Debit </option>
        <option value="Credit"> Credit </option>
    </select>
        </select>
        <label for="ic"><b>Inter Company:</b></label>
        <select name="ic" id="ic">
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
        </select>
        <label for="summary"><b> Summary:</b></label>
        <select name="summary" id="summary">
            <option value="Yes"> Yes </option>
            <option value="No"> No </option>
        </select>
    </div>
</div>



<!-------Company-------->
<div class="two">
 <label for='company' ><b>&emsp13;Company:</b></label>
 <label for="allcompany">&emsp13; All Companies</label>
 <input type="checkbox" id="allcompany" name="allcompany" value=1 onclick="COMPANY(this)"/> <br>
 <select  name='company' id='company' style="width:300px;" multiple>
   {%for i in GDataCompany%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--Party    -->
<div class="three">
 <label for='Party' ><b>&emsp13;Party :</b></label>
 <label for="allParty">&emsp13; All Parties</label>
 <input type="checkbox" id="allParty" name="allParty" value=1 onclick="PARTY(this)"/> <br>
 <select  name='Party' id='Party' style="width:250px;" multiple>
   {%for i in GDataParty%}
          <option value="{{ i.NUMBERID }} ">{{ i.LEGALNAME1 }}-{{ i.NUMBERID }}</option>
  {% endfor %}
 </select>
</div>

<!--Broker-->
<div class="four">
 <label for='Broker' ><b>&emsp13;Broker :</b></label>
 <label for="allBroker">&emsp13; All Broker </label>
 <input type="checkbox" id="allBroker" name="allBroker" value=1 onclick="Broker(this)"/> <br>
 <select  name='Broker' id='Broker' style="width: 250px;;" multiple>
   {%for i in GDataBroker%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<div class="ten">
<br><br>
    <label for='format' ><b>Report:</b></label>
<button type='submit' style="background-color:#808080; color:#ffffff;" form='form1' value='PDF' class="mar" id="submit_check" > PDF</button>
</div>

</form>
<div class="eight">
<label for='exception'><b>{%if Exception %}
<script>alert("No Report Found In Given Criteria");</script>
{% endif %}
</b></label>
</div>

</body>

</html>