<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Party Wise Book Debits </title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

<style>

.one{position: absolute;
    margin-top: 0px;
    margin-left:40px ;
}

.range{position: absolute; margin-left: 50px; margin-top: 50px;}

.two{position: absolute;
    margin-top:100px;
    margin-left:50px ;
}
.three{ position: absolute;
    margin-top: 100px;
    margin-left:380px ;
}

.four{position: absolute;
    margin-top: 400px;
    margin-left:920px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection {
    height: 150px;
    overflow: scroll;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 13p;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

   function date(event){
    var startDate = document.getElementById("startdate").value;
    var endDate = document.getElementById("enddate").value;
    if (!Date.parse(startDate)&&!Date.parse(endDate)){
    alert("Please Enter Start Date and End Date");
        event.preventDefault();
    }
    else{
        if (!Date.parse(startDate)){
        alert("Please Enter Start Date");
            event.preventDefault();
        }
        if (!Date.parse(endDate)){
        alert("Please Enter End Date");
            event.preventDefault();
        }
        if ((Date.parse(startDate) > Date.parse(endDate))) {
        alert("End date should be greater Or Equall To Start date");
        event.preventDefault();
    }
     return true;
    }

}

function COMPANY(allcompany)
	{
		var Comp=document.getElementById("company");
		Comp.disabled=!!allcompany.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}
function PARTY(allParty)
	{
		var Comp=document.getElementById("Party");
		Comp.disabled=!!allParty.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

    $(document).ready(function()
	{
        var itemlist=[]
        $("#company").select2({data:itemlist});
        $("#Party").select2({data:itemlist});
	});

	$(document).ready( function() {
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#enddate').val(today);
   $('#startdate').val(today);
   $('#enddate').attr('max', today);
   $('#startdate').attr('max', today);
});

</script>
    <h1 style="font-family:arial;margin-left: 50px;">Party Wise Book Debits</h1>
</head>
<body  style="background-color:Lavender;">


<form action='PartyWiseBookDebits' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">


<!--Date-->

<div class="one">
<label for='enddate'><b>&emsp;Bill UpTo:</b></label>
<input type='date' id='enddate' name='enddate'>
</div>

<!--    Report Type-->

<div class="one">
    <label for="updatel" style="margin-left: 220px;"><b>Update Bal. For The Month:</b></label>
    <select name="updated" id="updated">
        <option value="Yes"> Yes </option>
        <option value="No"> No </option>
    </select>
</div>

<div class="range" id="range">
<label for="1"><b>&emsp13;Range:   1</b></label>
 <input type='number' name="1" id='1' placeholder="0" style ="width: 40px;" > 
<label for="2"><b>&emsp13;2</b></label>
 <input type='number' name="2" id='2' placeholder="0" style ="width: 40px;">
<label for="3"><b>&emsp13;3</b></label>
<input type='number' id='3' name="3" placeholder="0" style ="width: 40px;">
</div>   


<!-------Company-------->
<div class="two">
 <label for='company' ><b>&emsp13;Company</b></label>
 <label for="allcompany">&emsp13; All Companies</label>
 <input type="checkbox" id="allcompany" name="allcompany" value=1 onclick="COMPANY(this)"/> <br>
 <select  name='company' id='company' style="width:300px;" multiple>
   {%for i in GDataCompany%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--Party    -->
<div class="three">
 <label for='Party' ><b>&emsp13;Party :</b></label>
 <label for="allParty">&emsp13; All Parties</label>
 <input type="checkbox" id="allParty" name="allParty" value=1 onclick="PARTY(this)"/> <br>
 <select  name='Party' id='Party' style="width:250px;" multiple>
   {%for i in GDataParty%}
          <option value="{{ i.NUMBERID }} ">{{ i.LEGALNAME1 }}-{{ i.NUMBERID }}</option>
  {% endfor %}
 </select>
</div>


<div class="four">
<br><br>
    <label for='format' ><b>Report:</b></label>
<button type='submit' style="background-color:#808080; color:#ffffff;" form='form1' value='PDF' class="mar" > PDF</button>
</div>

</form>
<div class="eight">
<label for='exception'><b>{%if Exception %}
<script>alert("No Report Found In Given Criteria");</script>
{% endif %}
</b></label>
</div>

</body>

</html>