<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Print Challan Advice</title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
.one{position: absolute;
    margin-top: 10px;
    margin-left:50px ;
}

.one2{position: absolute;
    margin-top: 10px;
    margin-left:650px ;
}

.two{position: absolute;
    margin-top: 80px;
    margin-left:50px ;
}
        .three{ position: absolute;
    margin-top: 80px;
    margin-left:420px ;
}

.four{position: absolute;
    margin-top: 80px;
    margin-left:1050px ;
}
        .five{position: absolute;
    margin-top: 80px;
    margin-left:1034px ;
}
  .six{position: absolute;
    margin-top: 10px;
    margin-left:900px ;
}

.ten{position: absolute;
    margin-top: 500px;
    margin-left:1120px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection {
    height: 200px;
    overflow: scroll;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 14p;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>

   function date(event){
    var startDate = document.getElementById("startdate").value;
    var endDate = document.getElementById("enddate").value;
    if (!Date.parse(startDate)&&!Date.parse(endDate)){
    alert("Please Enter Start Date and End Date");
        event.preventDefault();
    }
    else{
        if (!Date.parse(startDate)){
        alert("Please Enter Start Date");
            event.preventDefault();
        }
        if (!Date.parse(endDate)){
        alert("Please Enter End Date");
            event.preventDefault();
        }
        if ((Date.parse(startDate) > Date.parse(endDate))) {
        alert("End date should be greater Or Equal To Start date");
        event.preventDefault();
    }
     return true;
    }

}
	function company(allcomp)
	{
		var Comp=document.getElementById("comp");
		Comp.disabled=!!allcomp.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

	function Party(allparty)
	{
		var comp=document.getElementById("party");
		comp.disabled=!!allparty.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function Despatch(alldesp)
	{
		var comp=document.getElementById("desp");
		comp.disabled=!!alldesp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}



	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#comp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#party").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#desp").select2({
		data:itemlist
	});
	});

	$(document).ready( function() {
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;


   $('#enddate').val(today);
   $('#startdate').val(today);
   $('#enddate').attr('max', today);
   $('#startdate').attr('max', today);
});

</script>
    <h1 style="font-family:arial;margin-left: 50px;">Print Challan</h1>
</head>
<body  style="background-color:Lavender;">


<form action='PrintChallanAdviceTable' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">

    <!--Date-->
<div class="one">
<label for='startdate'><b>Start Date:</b></label>
<input type='date' id='startdate' name='startdate'>

<label for='enddate'><b>&emsp; &emsp; End Date:</b></label>
<input type='date' id='enddate' name='enddate'>
</div>

<!--    Type-->
<div class="one2">
    <label for="Print" ><b>Print : </b></label>
    <select name="Print" id="Print">
        <option  value="advice">Advice</option>
    </select>
</div>

<!--    Company-->
<div class="two">
 <label for='comp' ><b>&emsp13;Company:</b></label><br>
 <label for="allcomp">&emsp13; All Company</label>
 <input type="checkbox" id="allcomp" name="allcomp" value=1 onclick="company(this)"/> <br>
 <select  name='comp' id='comp' style="width: 350px;" multiple>
  {%for i in GDataCompany%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>


<!--    party -->
    <div class="three" >
 <label for='party' ><b>&emsp13;Party:</b></label><br>
 <label for="allparty">&emsp13; All Parties</label>
 <input type="checkbox" id="allparty" name="allparty" value=1 onclick="Party(this)" /> <br>
 <select  name='party' id='party' style="width: 610px;"  multiple >
   {%for i in GDataParty%}
          <option value="{{ i.NUMBERID }} ">{{ i.LEGALNAME1 }}-{{ i.NUMBERID }}</option>
  {% endfor %}
 </select>
</div>


<!--    Despatch-->
<div class="four" >
 <label for='desp' ><b>&emsp13;Despatch:</b></label><br>
 <label for="alldesp">&emsp13; All Despatch</label>
 <input type="checkbox" id="alldesp" name="alldesp" value=1 onclick="Despatch(this)"/> <br>
 <select  name='desp' id='desp' style="width: 300px;" multiple>
   {%for i in GDataDespatch%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>


<div class="ten">

<br><br>
    <label for='format' ><b>Export To:</b></label>
<button type='submit' form='form1' value='PDF' class="mar" > FIND</button>
</div>

</form>
<div class="eight" >
<label for='exception'><b>{%if Exception %}
<script>alert("No Record Found");</script>
{% endif %}
</b></label>
</div>

</body>

</html>
    <!--    mail sent message-->
    <label for='mail' ><b>{%if Mail %}
<script >alert("Note: Mail Sent Thank You "); </script>
{% endif %}
</b></label>
<!--alert("Please Select Valid Credentials");-->