<!DOCTYPE html>
<html lang="en">

<head style="font-family:arial;">
    <meta charset="UTF-8">
<title >Production Analysis</title>
    {% load static %}
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <style>
.one{position: absolute;
    margin-top: 10px;
    margin-left:50px ;
}

.one2{position: absolute;
    margin-top: 10px;
    margin-left:650px ;
}

.two{position: absolute;
    margin-top: 60px;
    margin-left:50px ;
}
        .three{ position: absolute;
    margin-top: 60px;
    margin-left:378px ;
}

.four{position: absolute;
    margin-top: 60px;
    margin-left:708px ;
}
        .five{position: absolute;
    margin-top: 60px;
    margin-left:1037px ;
}
  .six{position: absolute;
    margin-top: 300px;
    margin-left:50px ;
}
 .seven{position: absolute;
    margin-top: 300px;
    margin-left:380px ;
}
.eight{position: absolute;
    margin-top: 300px;
    margin-left:710px ;
}
.nine{position: absolute;
    margin-top: 300px;
    margin-left:1040px ;
}

.ten{position: absolute;
    margin-top: 500px;
    margin-left:1120px ;
}

.select2 {
    width: 100%;
    margin: 0 auto;
    border-radius: 0 !important;
    display: block;
}
.select2-container .select2-selection {
    height: 100px;
    overflow: scroll;
}
.select2-container--default .select2-selection--multiple {
    border-radius: 0;
    line-height: 30px;
    font-size: 14p;
    border: 1px solid #fafafa;
}

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<script>

   function date(event){
    var startDate = document.getElementById("startdate").value;
    var endDate = document.getElementById("enddate").value;
    if (!Date.parse(startDate)&&!Date.parse(endDate)){
    alert("Please Enter Start Date and End Date");
        event.preventDefault();
    }
    else{
        if (!Date.parse(startDate)){
        alert("Please Enter Start Date");
            event.preventDefault();
        }
        if (!Date.parse(endDate)){
        alert("Please Enter End Date");
            event.preventDefault();
        }
        if ((Date.parse(startDate) > Date.parse(endDate))) {
        alert("End date should be greater Or Equall To Start date");
        event.preventDefault();
    }
     return true;
    }

}
	function company(allcomp)
	{
		var Comp=document.getElementById("comp");
		Comp.disabled=!!allcomp.checked;
		if (Comp.disabled)
		{
			Comp.focus();
		}
	}

	function Item(allitem)
	{
		var comp=document.getElementById("item");
		comp.disabled=!!allitem.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function itemtype(allitmtyp)
	{
		var comp=document.getElementById("itmtyp");
		comp.disabled=!!allitmtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function production(allprdtyp)
	{
		var comp=document.getElementById("prdtyp");
		comp.disabled=!!allprdtyp.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function quality(allqwlty)
	{
		var comp=document.getElementById("qwlty");
		comp.disabled=!!allqwlty.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function Shade(allshade)
	{
		var comp=document.getElementById("shade");
		comp.disabled=!!allshade.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function Machine(allmach)
	{
		var comp=document.getElementById("mach");
		comp.disabled=!!allmach.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}

	function Lot(alllot)
	{
		var comp=document.getElementById("lot");
		comp.disabled=!!alllot.checked;
		if (comp.disabled)
		{
			comp.focus();
		}
	}



	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#comp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#prdtyp").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#lot").select2({
		data:itemlist
	});
	});

    $(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#mach").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#shade").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#qwlty").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#item").select2({
		data:itemlist
	});
	});

	$(document).ready(function()
	{
	var itemlist=
	[//'YDG','WTR','CNT','MOY','MON','POY','DTY','FDY','TWD','DYD','BCF','CAP','PKG','SPR','CON','CAB','ROP','WST','SCP','SER','HST','PLY','CHP','MB ','DYE','CHE','ATY','MSB','CST','CBM','PRI','PRT','BMG','MBB','MBP','BRG'
	];
	$("#itmtyp").select2({
		data:itemlist
	});
	});


<!--Date.prototype.toDateInputValue = (function() {-->
<!--    var local = new Date(this);-->
<!--    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());-->
<!--    return local.toJSON().slice(0,10);-->
<!--    });-->
<!--        $(document).ready( function() {-->
<!--        $('#startdate').val(new Date().toDateInputValue());-->
<!--    });-->
<!--    $(document).ready( function() {-->
<!--        $('#enddate').val(new Date().toDateInputValue());-->
<!--    });-->

$(document).ready( function() {
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
    var todays = "2021"+"-"+"06"+"-"+"01" ;

   $('#enddate').val(today);
   $('#startdate').val(today);
   $('#enddate').attr('max', today);
<!--   $('#startdate').attr('max', today);-->
   $('#startdate').attr('min', todays);
});
</script>

    <h1 style="font-family:arial;margin-left: 50px">Production Analysis</h1>
</head>
<body  style="background-color:Lavender;">


<form action='ProductionAnalysis' id='form1' class="mar" onsubmit=" date(event);" style="font-family:arial;" target="_blank">


<!--Date-->
<div class="one">
<label for='startdate'><b>Start Date:</b></label>
<input type='date' id='startdate' name='startdate'>

<label for='enddate'><b>&emsp; &emsp; End Date:</b></label>
<input type='date' id='enddate' name='enddate'>
</div>

<!--    Type-->
<div class="one2">
    <label for="type" ><b>Type : </b></label>
    <select name="type" id="type">
        <option  value="SItmWise">Shade ItemWise Summary</option>
        <option  value="SItmWiseDt">Shade ItemWise Summary (Date)</option>
        <option  value="machwise">Machine Wise Suummary</option>
    </select>
</div>

<!--    Department-->
<div class="two">
 <label for='comp' ><b>&emsp13;Department:</b></label><br>
 <label for="allcomp">&emsp13; All Departments</label>
 <input type="checkbox" id="allcomp" name="allcomp" value=1 onclick="company(this)"/> <br>
 <select  name='comp' id='comp' style="width: 320px;" multiple>
  {%for i in GDataDepartment%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--- Item --->
<div class="three">
 <label for='item' ><b>&emsp13;Item:</b></label><br>
 <label for="allitem">&emsp13; All Items</label>
 <input type="checkbox" id="allitem" name="allitem" value=1 onclick="Item(this)"/> <br>
 <select  name='item' id='item' style="width: 320px;" multiple>
  {%for i in GDataItem%}
          <option value="{{ i.ABSUNIQUEID }} ">{{ i.LONGDESCRIPTION }}-{{ i.ABSUNIQUEID }}</option>
  {% endfor %}
 </select>
</div>

<!--    Item Type-->
    <div class="four" >
 <label for='itmtyp' ><b>&emsp13;Item Type :</b></label><br>
 <label for="allitmtyp">&emsp13; All Item Types</label>
 <input type="checkbox" id="allitmtyp" name="allitmtyp" value=1 onclick="itemtype(this)"/> <br>
 <select  name='itmtyp' id='itmtyp' style="width: 310px;"  multiple>
   {%for i in GDataItemType%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Production Type-->
<div class="five" style="display:none">
 <label for='prdtyp' ><b>&emsp13;Production Type:</b></label><br>
 <label for="allprdtyp">&emsp13; All Prodn. Types</label>
 <input type="checkbox" id="allprdtyp" name="allprdtyp" value=1 onclick="production(this)"/> <br>
 <select  name='prdtyp' id='prdtyp' style="width: 320px;" multiple>
   {%for i in GDataProduction%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Quality-->
<div class="six">
 <label for='qwlty' ><b>&emsp13;Quality :</b></label><br>
 <label for="allqwlty">&emsp13; All Qualities</label>
 <input type="checkbox" id="allqwlty" name="allqwlty" value=1 onclick="quality(this)"/> <br>
 <select  name='qwlty' id='qwlty' style="width: 320px;" multiple>
   {%for i in GDataQuality%}
          <option value="{{ i.LONGDESCRIPTION }}-{{ i.ITEMTYPECODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.ITEMTYPECODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Shade-->
<div class="seven">
 <label for='shade' ><b>&emsp13;Shade :</b></label><br>
 <label for="allshade">&emsp13; All Shades</label>
 <input type="checkbox" id="allshade" name="allshade" value=1 onclick="Shade(this)"/> <br>
 <select  name='shade' id='shade' style="width: 320px;" multiple>
   {%for i in GDataShade%}
          <option value="{{ i.CODE }} ">{{ i.LONGDESCRIPTION }}-{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    Machine-->
<div class="eight">
 <label for='mach' ><b>&emsp13;Machine :</b></label><br>
 <label for="allmach">&emsp13; All Machines</label>
 <input type="checkbox" id="allmach" name="allmach" value=1 onclick="Machine(this)"/> <br>
 <select  name='mach' id='mach' style="width: 320px;" multiple>
   {%for i in GDataMachine%}
          <option value="{{ i.CODE }} ">{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>

<!--    LotNo-->
<div class="nine">
 <label for='lot' ><b>&emsp13;Lot No. :</b></label><br>
 <label for="alllot">&emsp13; All Lot Nos.</label>
 <input type="checkbox" id="alllot" name="alllot" value=1 onclick="Lot(this)"/> <br>
 <select  name='lot' id='lot' style="width: 320px;" multiple>
   {%for i in GDataLot%}
          <option value="{{ i.CODE }} ">{{ i.CODE }}</option>
  {% endfor %}
 </select>
</div>


<div class="ten">

<br><br>
    <label for='format' ><b>Export To:</b></label>
<button type='submit' form='form1' value='PDF' class="mar" > PDF</button>
</div>

</form>
<div class="eight">
<label for='exception'><b>{%if Exception %}
<script>alert("No Record Found In Given Criteria");</script>
{% endif %}
</b></label>
</div>

</body>

</html>
<!--alert("Please Select Valid Credentials");-->